.hero
    height: 100vh
    width: 100%
    p
        text-shadow: (0px 6px 22px 0px rgba(0,0,0,0.08))
    .left
        position: absolute
        height: 100%
        width: 70%
        background-color: #e0e0e0
        z-index: -1
    
nav
    width: 90%
    margin: 0 auto
    line-height: 60px
    text-align: right
    .logo
        float: left
        text-decoration: none
        color: white
        font-size: 4rem
        font-weight: 600
    .desktopNav
        right: 1.7%
        a
            color: grey
            text-shadow: (0px 6px 22px 0px rgba(0,0,0,0.08))
            text-decoration: none
            transition: color 2s ease
            margin-top: 2rem
            color: grey
            font-size: 18px
            padding: 15px
            &:hover
                color: black

.mobileNav
    display: none

.pieces-slider
  position: absolute
  text-align: center
  overflow: hidden
  left: 45%
  top: 20%

/* Make all slides absolutes and hide them */
.js .pieces-slider__slide 
  position: absolute

/* Define image dimensions and also hide them */
.pieces-slider__image
  max-width: 600px
  max-height: 400px

.js .pieces-slider__image
  visibility: hidden

/* Hide the titles */
.js .pieces-slider__text
  text-indent: -9999px

/* Canvas with viewport width and height */
.js .pieces-slider__canvas
  position: relative
  width: 50vw
  height: 50vh
  transition: 0.2s opacity

/* Class for when we resize */
.pieces-slider__canvas--hidden
  opacity: 0
  transition-duration: 0.3s

/* Control buttons */
.pieces-slider__button
    position: absolute
    color: #e0e0e0

.pieces-slider__button--prev
    background: #fff
    cursor: pointer
    font-size: 30px
    right: 1.7%
    top: 20%
    transition: color 2s 
    &:hover
        color: black
   
.pieces-slider__button--next
    background: #fff
    cursor: pointer
    font-size: 30px
    right: 1.7%
    top: 60%
    transition: color 2s
    &:hover
        color: black
    
.heroContent
    margin: 30vh 0 0 15%
    p 
        color: white
        margin-bottom: 30px
        opacity: 0.9
    h1
        color: white
.scroll
    display: flex
    align-items: center
    position: absolute
    right: 1.7%
    bottom: 63px
    transform: rotate(270deg)
    p
        color: grey
        font-size: 16px
        text-shadow: (0px 6px 22px 0px rgba(0,0,0,0.08))
.line
    height: 2px
    width: 70px
    margin-right: 10px
    background-color: grey
    +box-shadow((0px 6px 22px 0px rgba(0,0,0,0.08))) 


/* Details Button (+ sign) */
.details-btn
        margin-bottom: 40px
        font-weight: bold
        font-size: 1rem
        display: flex
        align-items: center
        letter-spacing: 1px
        cursor: pointer
        color: #ffffff

        &:hover svg
            transform: rotate(405deg)

        svg
            transition: all .6s ease
            height: 11px
            margin-left: 10px