@import vars
@import mixin
@import global
@import hero
@import cont

// Responsive code
@media screen and (min-width: 800px)
    .nav-toggle-label
        display: none
    
    header
        margin-top: 1rem
        display: grid
        grid-template-columns: 11% 16% 64% 11%
    nav
        all: unset
        grid-column: 3 / 4
        display: flex
        justify-content: flex-end
        align-items: center
        a
            opacity: 1
    .logo
        grid-column: 2 / 3
    nav
        ul
            display: flex
    nav
        li
            margin-left: 3em
            margin-bottom: 0
            

@media screen and (max-width: 1600px)
    .flex-2
        width: 100%
@media screen and (max-width: 1100px)
    .flex-2
        flex-direction: column
        width: 90%
    .scroll
        display: none
@media screen and (max-width: 768px)
    .flex-2
        width: 100%
        a
            font-size: 16px
        ul
            display: block
            li
                margin: 1.5em 0
                font-size: 16px
    h1
        font-size: 50px
    h2
        font-size: 35px
    p
        font-size: 16px
    a
        font-size: 16px
    .btn
        font-size: 16px
    .heroContent
        clear: both
        margin: 0 0 0 5%
        padding-top: 130px
    .hero
        height: 768px
        .left
            width: 100%
    .imageSection
        text-align: left
        margin: 7em 0
        h2
            margin-left: 5%
    footer
        i
            font-size: 24px
    .scroll
        display: none

    .logo
        margin-left: 5%

/* Media queries with styles for smaller screens */
@media screen and (max-width: 720px)
  .pieces-slider__image 
    max-width: 300px

@media screen and (max-width: 55em)
  .pieces-slider__canvas
    width: 100%
    height: 100%

  .pieces-slider__button
    width: 60px
    height: 60px
